body {
  background-color: #ffffff;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  padding: 5px 11px;
}

.topnav .search-wrapper {
  float: right;
  display: flex; /* Aligns items in a row */
  min-width: 0px; /* Minimum width for the search bar */
  border: 1px solid #ccc; /* Border around the search bar */
  border-width: 0px;
  border-radius: 10px; /* Rounded corners */
  margin-top: 25px;
}

.topnav button {
  padding: 10px 15px; /* Space inside the button */
  background-color: #6e6e6e; /* Button color */
  color: white; /* Text color */
  border: none; /* No border for the button */
  border-radius: 0 10px 10px 0; /* Rounded corners on the right */
  cursor: pointer; /* Pointer cursor on hover */
}

.topnav button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="search"] {
  flex: 0.45; /* Takes up available space */
  padding: 20px; /* Space inside the input */
  border: none; /* No border for the input */
  border-radius: 10px 0 0 10px; /* Rounded corners on the left */
}
