body {
    background: linear-gradient(to right,rgb(54, 51, 51),white );
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem; 
}


.container {
    display: flex;
    height: 100vh; 
}

.left-side {
    flex: 1;
    border-right: 3px solid #333; 
}


.right-side {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;    
}


form {
    width: 70%; 
    font-size: 1.5rem; 
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    font-size: 1.3rem;
    border: 2px solid #333;
    border-radius: 8px;
}

input[type="submit"] {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.5rem;
    background: #4a8383;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
